
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--primary-dark);
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration:none;
    transition: all 0.2s ease;
}

nav ul li.active, nav ul li:hover {
    background: #666;
}

a {
    float: left;
    padding: 3px 5px;
    margin: 0px 1px;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
}
a.active {border-bottom:5px solid lightblue;}
a:hover {
    background-color: #cc6600;
}


